# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries
import pandas as pd
import numpy as np
import re

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set from Ironhack's database
# Pokemon.csv

pokemon_df = pd.read_csv('../data/Pokemon.csv')
pokemon_df.shape

(800, 13)

In [3]:
pokemon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

#### Print first 10 rows of `pokemon`.

In [4]:
# your code here
# head() imprime 5 rows
pokemon_df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
# your code here
pkmn_t1 = pokemon_df['Type 1']
pkmn_t2 = pokemon_df['Type 2']

pokemon_types = pd.concat([pkmn_t1, pkmn_t2]).unique()
print(pokemon_types, type(pokemon_types))

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying' nan] <class 'numpy.ndarray'>

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [6]:
# your code here
def split_str_before_word(word_to_split, cutter):
    """ word_to_split = 'VenusaurMega Venusaurl
        cutter = Mega
        
        Output= Mega Venusaurl'
        
        Split word_to_split = ['Venusaur', ' Venusaurl']
        joins the second input with the cutter = 'Mega' + ' Venusaurl' 
        take into consideration there is a space!"""
    if isinstance(cutter, str) and isinstance(word_to_split, str):
        return ''.join([cutter, re.split(cutter, word_to_split)[1]])
    else:
        return 'Failed to run split_str_by_str'


cutter = 'Mega'
pokemon_df['Name'] = [split_str_before_word(pkmn_name, cutter) if re.search(cutter, pkmn_name) 
                                                               else pkmn_name 
                                                               for pkmn_name in pokemon_df['Name']]
print(pokemon_df['Name'][0:10])

"""Note_ buscar si existe otra forma de hacer esto!"""

0           Bulbasaur
1             Ivysaur
2            Venusaur
3       Mega Venusaur
4          Charmander
5          Charmeleon
6           Charizard
7    Mega Charizard X
8    Mega Charizard Y
9            Squirtle
Name: Name, dtype: object

'Note_ buscar si existe otra forma de hacer esto!'

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [7]:
# your code here
pokemon_df['A/D_Ratio'] = round(pokemon_df['Attack'] / pokemon_df['Defense'], 3)

pokemon_df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D_Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.988
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.077
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738

#### Identify the pokemon with the highest `A/D Ratio`.

In [8]:
# your code here
max_ratio_value = float(pokemon_df['A/D_Ratio'].max())

# isin() method searches for row with certain col value. input has to list-like objects
pokemon_df.loc[pokemon_df['A/D_Ratio'].isin([max_ratio_value])]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D_Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [9]:
# your code here
min_ratio_value = float(pokemon_df['A/D_Ratio'].min())

pokemon_df.loc[pokemon_df['A/D_Ratio'].isin([min_ratio_value])]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D_Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [10]:
##### PRIMER INTENTO: No me gusta asignar la combo type = type 1

"""
pokemon_df['Combo Type'] = pokemon_df['Type 1']

for i in range(pokemon_df.shape[0]):
    if not pokemon_df['Type 2'].isnull().iloc[i]:
        pokemon_df['Combo Type'].iloc[i] = '-'.join([pokemon_df['Type 1'].iloc[i], pokemon_df['Type 2'].iloc[i]])

"""

"\npokemon_df['Combo Type'] = pokemon_df['Type 1']\n\nfor i in range(pokemon_df.shape[0]):\n    if not pokemon_df['Type 2'].isnull().iloc[i]:\n        pokemon_df['Combo Type'].iloc[i] = '-'.join([pokemon_df['Type 1'].iloc[i], pokemon_df['Type 2'].iloc[i]])\n\n"

In [11]:
### ULTIMO INTENTO! Con apply, en cada row (== x hago la iteración anterior)

pokemon_df['Combo Type'] = pokemon_df.apply(lambda row: row['Type 1'] + '-' + row['Type 2'] 
                                                    if isinstance(row['Type 2'], str) 
                                                    else row['Type 1'], 
                                             axis= 1) 

# axis 1 -> itera sobre cada fila, selección por cols
# axis 0 -> itera sobre cada columna, selección por index/row

In [12]:
pokemon_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D_Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.988,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [13]:
# your code here
max_ratio_values = np.sort(pokemon_df['A/D_Ratio'].unique())[::-1][0:5]

print(type(max_ratio_values), len(max_ratio_values))
print()
print(max_ratio_values)

pokemon_df.loc[pokemon_df['A/D_Ratio'].isin(max_ratio_values)]

<class 'numpy.ndarray'> 5

[9.    4.5   3.75  3.125 3.   ]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D_Ratio,Combo Type
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True,3.000,Psychic
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
750,681,AegislashBlade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,False,3.000,Steel-Ghost

In [14]:
# Only the names of max 5 ratio values by Serie
pokemon_df.loc[pokemon_df['A/D_Ratio'].isin(max_ratio_values)]['Name']

# Parece que se podría limpiar un poco más los nombres de los pokemons.
# Aparecen diferenciados por su forma (Normal Forme, Attack Forme, Blade Forme)

19            Mega Beedrill
347                Carvanha
348                Sharpedo
428      DeoxysNormal Forme
429      DeoxysAttack Forme
453                Cranidos
750    AegislashBlade Forme
Name: Name, dtype: object

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [15]:
pokemon_df_filtr = pokemon_df.loc[pokemon_df['A/D_Ratio'].isin(max_ratio_values)]\
                                                            [['Name', 'A/D_Ratio', 'Combo Type']]

pokemon_df_filtr
# This is not the end result.
# These are all the pokemons whith max ratios, unsorted

                     Name  A/D_Ratio   Combo Type
19          Mega Beedrill      3.750   Bug-Poison
347              Carvanha      4.500   Water-Dark
348              Sharpedo      3.000   Water-Dark
428    DeoxysNormal Forme      3.000      Psychic
429    DeoxysAttack Forme      9.000      Psychic
453              Cranidos      3.125         Rock
750  AegislashBlade Forme      3.000  Steel-Ghost

In [16]:
# The five pokemons with highest A/D Ratio
pokemon_df_filtr.sort_values(by='A/D_Ratio', ascending= False, inplace= True)

# Distinct Combo Type values of those five pokemons
distinct_combo_type_max_ratio = pokemon_df_filtr.iloc[0:5]['Combo Type'].unique()

print(distinct_combo_type_max_ratio) # Se repite Water-Dark, así que el array sólo tiene 4 items

['Psychic' 'Water-Dark' 'Bug-Poison' 'Rock']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [17]:
## Repeat last steps without column filter

pokemon_df.sort_values(by='A/D_Ratio', ascending= False, inplace= True)

distinct_combo_type_max_ratio = pokemon_df.iloc[0:5]['Combo Type'].unique()

print(distinct_combo_type_max_ratio) # Se repite Water-Dark, así que el array sólo tiene 4 items

['Psychic' 'Water-Dark' 'Bug-Poison' 'Rock']

In [18]:
pokemon_df_combo_type_filter = pokemon_df[pokemon_df['Combo Type'].isin(distinct_combo_type_max_ratio)]

In [19]:
pokemon_df_combo_type_filter.groupby(['Combo Type']).mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D_Ratio
Combo Type,,,,,,,,,,,
Bug-Poison,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.316083
Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164237
Rock,410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.260000
Water-Dark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.292000